<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link"
       [ngClass]="{'active': state === 'active', 'disabled': loading}"
       (click)="requestActiveTasks()"
       href="javascript:void(0)">List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [ngClass]="{'active': state === 'archived', 'disabled': loading}"
       (click)="requestArchivedTasks()"
       href="javascript:void(0)">Archived</a>
  </li>
</ul>

@if (!tasks?.content?.length && !loading) {
  <div class="alert alert-info mt-5" role="alert">
    No tasks found.
  </div>
}

@if (loading) {

  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

}

@if (!loading && tasks?.content?.length) {

  <div class="list-group m-3 p-2">

    @for (task of tasks?.content; track task.id) {

      <a [routerLink]="['../', task.id]" class="list-group-item list-group-item-action" href="javascript:void(0)">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ task.title }}</h5>
          <small>{{ task.dueDate | date: 'dd/MM/yyyy HH:mm' }}</small>
        </div>

        <div class="d-flex w-100 justify-content-between">
          <div class="d-flex w-100 gap-3 justify-content-start mb-1 mt-2">

            @switch (task.priority) {
              @case ('LOW') {
                <span class="badge text-bg-info">{{ task.priority }}</span>
              }
              @case ('MEDIUM') {
                <span class="badge text-bg-warning">{{ task.priority }}</span>
              }
              @case ('HIGH') {
                <span class="badge text-bg-danger">{{ task.priority }}</span>
              }
              @default {
                <span class="badge text-bg-secondary">{{ task.priority }}</span>
              }

            }

            @if (state !== 'archived') {
              @switch (task.status) {
                @case ('TODO') {
                  <span class="badge rounded-pill text-bg-info">{{ task.status }}</span>
                }
                @case ('IN_PROGRESS') {
                  <span class="badge rounded-pill text-bg-warning">{{ task.status }}</span>
                }
                @case ('COMPLETED') {
                  <span class="badge rounded-pill text-bg-success">{{ task.status }}</span>
                }
                @case ('FAILED') {
                  <span class="badge rounded-pill text-bg-danger">{{ task.status }}</span>
                }
                @case ('ARCHIVED') {
                  <span class="badge rounded-pill text-bg-secondary">{{ task.status }}</span>
                }
                @default {
                  <span class="badge rounded-pill text-bg-secondary">{{ task.status }}</span>
                }
              }
            }

          </div>
          @if (state !== 'archived') {
            <a (click)="onArchivedTask(task.id)" href="javascript:void(0)">
              <i class="fa-solid fa-trash"></i>
            </a>
          }
        </div>
      </a>
    }
  </div>

  <nav class="mt-5" aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" (click)="onPreviousPage()" [ngClass]="{'disabled': tasks?.first}" href="javascript:void(0)">Previous</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="onNextPage()" [ngClass]="{'disabled': tasks?.last}" href="javascript:void(0)">Next</a>
      </li>
    </ul>
  </nav>
}
